/build/
/data-sets/
/.settings/
/scripts/**/*.txt
/*/*.csv
*.ipynb_checkpoints
*.autosave

% Ignore VS code settings
*.vscode

% Ignore logged mesh ply
*.ply

% Ignore Mac stuff
*.DS_Store

% Remove recovery files from matlab.
*~
% Ignore media files
*.mp4

/scripts/*.yaml

% Ignore large vocabulary files
/vocabulary/*

% Ignore python bytecode
*.pyc

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

build/*
Log/*.csv
Log/*.txt
Log/*.pcd
PCD/*

