<!--

  Copyright (c)     

  The Verifiable & Control-Theoretic Robotics (VECTR) Lab
  University of California, Los Angeles

  Authors: Kenny J. Chen, Ryan Nemiroff, Brett T. Lopez
  Contact: {kennyjchen, ryguyn, btlopez}@ucla.edu

-->

<launch>

  <arg name="robot_namespace" default="robot"/>
  <arg name="rviz" default="true"/>

  <arg name="pointcloud_topic" default="/velodyne_points"/>
  <arg name="imu_topic" default="/livox/imu"/>          <!--Livox mid360-->
  <arg name="livox_topic" default="/livox/lidar"/>

  <!-- DLIO Odometry Node -->
  <node ns="$(arg robot_namespace)" name="dlio_odom" pkg="direct_lidar_inertial_odometry" type="dlio_odom_node" output="screen" clear_params="true">

    <!-- Load parameters -->
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/long_corridor.yaml" command="load"/>
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/long_corridor_params.yaml" command="load"/>

    <!-- Subscriptions -->
    <remap from="~pointcloud" to="$(arg pointcloud_topic)"/>
    <remap from="~imu" to="$(arg imu_topic)"/>
    <remap from="~livox" to="$(arg livox_topic)"/>

    <!-- Publications -->
    <remap from="~odom"     to="dlio/odom_node/odom"/>
    <remap from="~pose"     to="dlio/odom_node/pose"/>
    <remap from="~path"     to="dlio/odom_node/path"/>
    <remap from="~kf_pose"  to="dlio/odom_node/keyframes"/>
    <remap from="~kf_cloud" to="dlio/odom_node/pointcloud/keyframe"/>
    <remap from="~deskewed" to="dlio/odom_node/pointcloud/deskewed"/>
    <remap from="~livox2dlio" to="$(arg pointcloud_topic)"/>

  </node>

  <!-- DLIO Mapping Node -->
  <node ns="$(arg robot_namespace)" name="dlio_map" pkg="direct_lidar_inertial_odometry" type="dlio_map_node" output="screen" clear_params="true">

    <!-- Load parameters -->
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/um_livox_mid360.yaml" command="load"/>
    <rosparam file="$(find direct_lidar_inertial_odometry)/cfg/um_livox_mid360_params.yaml" command="load"/>

    <!-- Subscriptions -->
    <remap from="~keyframes" to="dlio/odom_node/pointcloud/keyframe"/>

    <!-- Publications -->
    <remap from="~map" to="dlio/map_node/map"/>

  </node>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="lidar2lidar" args="0, 0, 0, 0, 0, 0 $(arg robot_namespace)/cmu_rc2_velodyne cmu_rc2_velodyne"/> -->
  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="dlio_rviz" args="-d $(find direct_lidar_inertial_odometry)/launch/um_livox_mid360.rviz" if="$(arg rviz)"/>

</launch>
